@use "sass:math";

@import "sass/bootstrap_reboot";
@import "sass/breakpoints";

// Converts PX to REM
// @access public
// @param {string} $size - Value to be converted in PX.
// @returns {string} - Returns REM string.
// @example font-size: rem(24px);
// @returns font-size: 1.5rem;
@function rem($size) {
  $remSize: math.div($size, 16px);
  @return #{$remSize}rem;
}

// colors
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

// font - Weights: 400, 700
$main-font: "Outfit", sans-serif;

$border: 20px;

// mixin

@mixin shadow {
  box-shadow: 0px 10px 45px 12px rgba(0, 0, 0, 0.1);
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbars */
}

h1 {
  font-size: rem(25px);
}

h2 {
  font-size: rem(20px);
}

p {
  font-size: rem(15px);
}

.attribution {
  font-size: rem(11px);
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

.card {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $light-gray;
  .qrcode {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: fit-content;
    margin-top: 100px;
    padding: 16px;
    background-color: $white;
    border-radius: $border;
    @include shadow();
    &__image {
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
    &__legend {
      margin: 17px 0;
      padding: 0 9px;
      text-align: center;
      font-family: $main-font;
      h2 {
        color: $dark-blue;
        font-weight: 700;
        line-height: rem(25px);
      }
      p {
        margin-top: 15px;
        font-weight: 400;
        line-height: rem(20px);
        color: $grayish-blue;
      }
    }
  }
}
